<%- include ('../partials/header.ejs'); -%>
<%- include ('../partials/navbar.ejs'); -%>


<main class="container_main">
    <section class="container_section_action">
        <div class="group_selectiona_btn group_visualizarLote">
           <label for="">Inicio</label>
           <input type='date' name='dateInicio' id="timeInicio">
           <label for="">Fim</label>
           <input type='date' name='dateFim' id="timeFim">
           <button id="btnBuscarMateriaTime" class="btn_criar_visualizarLote">Buscar</button>
        </div>

        <div class="group_selectiona_btn group_visualizarLote">
           <label for="">Materia Prima</label>
           <input type='text' id="materiaPrima">
           <button id="btnBuscarMateriaMateriaPrima" class="btn_criar_visualizarLote">Buscar</button>
        </div>

        <div class="group_selectiona_btn group_visualizarLote">
           <label for="">Lote</label>
           <input type='text' id="lote">
           <button id="btnBuscarMateriaLote" class="btn_criar_visualizarLote">Buscar</button>
        </div>
    </section>

    <section class="container_section_second container_section_visualizar">
        <div class="container_table table_vincular_principal table_visualizar_principal">
            <table class="
            table text-black
            tabela_Cadastro
            table_vinculo 
            tabela_visualizar_lote" 
            id="tabela-VisualizarLote"
            >
            </table>
        </div>
    </section>
</main>





<%- include ('../partials/footer.ejs'); -%>
<script type="module" src="/js/visualizarLote/visualizarLote.js"></script>
