

.container_main {
    display: flex;
    flex-direction: row;
    height: 90vh;
    padding: 1rem;
    gap: 1rem;
}

.container_section_first {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
}

.group_seleciona_materia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30.8rem;
    height: 28rem;
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 0.62rem;
    gap: 1rem;
    padding: 1.28rem;
}

.group_seleciona_materia label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #F3E8FF;
}

.group_input_parametros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group_selectiona_btn {
    display: flex;
    flex-direction: column;
    height: 28rem;
    gap: 0.75rem;
}

.selectPrima,
.select2-container--default .select2-selection--single,
.inputPrima {
    height: 3rem;
    border-radius: 0.62rem;
}

.select2-container--default .select2-selection--single {
    padding-top: 0.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0.6rem;
}

.btn_criar {
    background: #D9D9D9;
    height: 3rem;
    color: #44403C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 0.62rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    z-index: 1;
}

.btn_criar:hover {
    background-color: oklch(97% 0.001 106.424);
}

.btn_tabela {
    background: #D9D9D9;
    width: 10rem;
    height: 3rem;
    color: #44403C;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 0.62rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn_tabela:hover {
    background-color: oklch(97% 0.001 106.424);
}

.container_section_second {
    width: 90%;
    margin: 0;
    max-height: 28rem;
}

.container_table {
    height: 28rem;
}

#barCodeDiv {
    width: 520px;
    background-color: #FFFFFF;
    color: #2f2d2d;
}

#barCodeDiv img{
    display: block;
}

#tabela-CadastroLote thead th {
    border-top: none;
}

#tabela-CadastroLote thead {
    width: 100%;
}

#tabela-CadastroLote body {
    width: 100%;
} 

#tabela-CadastroLote_wrapper{
    padding: 0.3rem;
    
}

.container_table .dataTables_wrapper .row {
    margin: 0;
}


@media(max-width: 1324px) {

    .container_main {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .group_selectiona_btn {
        height: auto;
    }

    .group_seleciona_materia {
        width: 25rem;
    }

   .selectPrima {
       width: 22.44rem;
   }

   div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0.5em;
        display: inline-block;
        width: 10rem;
    }

    
}


@media(max-width: 871px) {


    .group_selectiona_btn {
        height: auto;
    }

    .group_seleciona_materia label {
        font-size: 1.1rem;
    }

    .btn_criar {
        font-size: 1.1rem;
        height: 2rem;
    }

    .btn_tabela {
        height: 2rem;
        font-size: 0.8rem;
    }

    div.dataTables_wrapper div.dataTables_filter {
        text-align: right;
    }
}


@media(max-width: 765px) {

    .container_table {
        height: 28rem;
    }

    div.dataTables_wrapper div.dataTables_info{
        display: none;
    }

    div.dataTables_wrapper div.dataTables_paginate {
        text-align: left;
        display: flex;
        justify-content: flex-end;
    }
}

@media(max-width: 698px) {
    
    .group_seleciona_materia {
        width: auto;
        height: 18rem;
    }

    .group_seleciona_materia {
        height: 16rem;
        gap: 0.2rem;
    }

    .group_seleciona_materia label {
        margin: 0;
    }
    
    .selectPrima,
    .inputPrima {
        height: 1.5rem;
        border-radius: 0.62rem;
    }

    .select2-container--default .select2-selection--single {
        height: 1.6rem;
        padding-top: 0px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 0px;
    }

    .container_section_first {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .group_selectiona_btn {
        height: 4rem;
    }

}

@media(max-width: 540px) {

    .selectPrima,
     .inputPrima{
        height: 1.75rem;
        font-size: 0.8rem;
    }

    .container_table {
        height: 30rem;
        max-width: 100%;
        font-size: 1rem;
    }

    #barCodeDiv {
        width: 450px;
    }

    

    #barCodeDiv {
        width: 400px;
    }

    #idBarcode {
        display: block;
        width: 350px;
    }
}


@media(max-width: 435px) {


    .group_seleciona_materia {
        width: 15rem;
        height: 17rem;
        gap: 0.2rem;
    }

    .group_seleciona_materia label {
        font-size: 1rem;
    }

    .selectPrima {
        width: 12.43rem;
    }


    .btn_criar {
        font-size: 0.8rem;
        height: 2rem;
    }

    .btn_tabela {
        width: 9rem;
    }

    .group_selectiona_btn {
        font-size: 1rem;
        height: 4rem;
    }

    .container_table {
        height: 19rem;
        max-width: 100%;
        font-size: 0.8rem;
    }

    #barCodeDiv {
        width: 255px;
    }

    #idBarcode {
        display: block;
        width: 255px;
    }

    .table td, .table th {
        padding: 2px;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        width: 150px;
    }

}